html
{
    direction: rtl;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #e6e6e6;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

* {
    font-family: "Tahoma", Helvetica, Arial, Helvetica Neue , sans-serif; !important;
}

.hcontainer-no-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}

.fixed-size-button
{
    min-width: 110px;  !important;
    max-width: 110px;  !important;
}

.right-align
{
    direction: rtl;
}

.left-align
{
    direction: ltr;
}

.green
{
    color: #598a62;
}

.blue
{
    color: #4286b4;
}

.red
{
    color: #d03007;
}

.fixed
{
    position: fixed;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.vertical-line-sep {
    border-left: thin solid #cacaca;
    margin-left: 20px;
    margin-right: 20px;
}
.vertical-line-sep-no-margin {
    border-left: thin solid #cacaca;
}

.horizental-line-sep {
    border-bottom: thin solid #cecece;
}

.app-page
{
    width: 100%;
    height: 100%;
}

/*
* top-bar
*/

.top-bar
{
    top: 0;
    left: 0;
    right: 250px;
    width: 100%;
    height: 70px;
    background: white;

    /*This makes div occupy full width*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #cfd0d4;
}

.shadow
{
    box-shadow: 0px 1px 3px #bababa;
    -webkit-box-shadow: 0px 1px 3px #bababa;
    -moz-box-shadow: 0px 1px 3px #bababa;
}

.right-panel
{
    top: 0;
    /*bottom: 5px;*/
    height: 100%;
    width: 250px;
    background-color: #2f3436;
    border-bottom: 5px solid #4f875a;
}

.right-panel-item
{
    width: 250px;
    height: 50px;
}

.right-panel-bottom-color
{
    right: 0px;
    bottom: 55px;
    height: 5px;
    width: 250px;
    background-color: #4f875a;
    position: fixed;
    z-index: 999999;
}

.right-panel-item-button-dashboard
{
    background: url('../images/dashboard.png') no-repeat right center;
}
.right-panel-item-button-commissions
{
    background: url('../images/commissions.png') no-repeat right center;
}
.right-panel-item-button-agents
{
    background: url('../images/agents.png') no-repeat right center;
}

.right-panel-item-button
{
    text-align: right;
    height: 100%;
    width: 100%;
    color: #b9b9b9;
    border:none;
    margin:0;
    padding-right: 50px;
    font-size: 15px;
    font-weight: lighter;
}

.right-panel-item-button:hover
{
    outline:none;
    background-color: #282d2f;
}

.right-panel-item-button:focus
{
    outline:none;
    color: #ffffff;
    background-color: #282d2f;
}

.right-panel-item-button:active
{
    outline:none;
}

.login-page
{
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: 100%;
    position: relative;
}

.login-page-container
{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(219, 219, 219, 0.4);

    width: 400px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -220px 0 0 -220px;
}

.login-page-neto-logo-container
{
    margin: auto;
    min-width: 125px;
    max-width: 125px;
    padding: 10px;
}
.login-page-neto-logo
{
    min-width: 125px;
    min-height: 44px;
    max-width: 125px;
    max-height: 44px;
}

.login-page-neto-doc-name
{
    text-align: center;
    font-family: "Tahoma", Helvetica, Arial, Helvetica Neue , sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #707070;
    margin-bottom: 20px;
}

.login-page-input
{
    /*margin-right: 15px;*/
    /*margin-left: 15px;*/
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #343434;
    background-color: rgba(0, 0, 0, .08);
    border:none;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login-page-input:focus
{

    border-color: #6aa473;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(98, 148, 107, .99);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(98, 148, 107, .99);
}
.login-page-input::-webkit-input-placeholder {
    color: #999;
}

.login-page-button
{
    font-family: "Tahoma", Helvetica, Arial, Helvetica Neue , sans-serif; !important;
    background: #5b9366;
    background-image: -webkit-linear-gradient(top, #5c9867, #55875e);
    background-image: -moz-linear-gradient(top, #5c9867, #55875e);
    background-image: -ms-linear-gradient(top, #5c9867, #55875e);
    background-image: -o-linear-gradient(top, #5c9867, #55875e);
    background-image: linear-gradient(to bottom, #5c9867, #55875e);
    /*text-shadow: 1px 1px 3px #666666;*/
    color: #ffffff;
    height: 35px;
    font-size: 14px;
    padding: 0px 15px;
    border: none;
    text-decoration: none;
    width: 100%;
    margin-bottom:15px;
}
.login-page-btn:hover {
    background: #5b9366;
    background-image: -webkit-linear-gradient(top, #518c5c, #4e8057);
    background-image: -moz-linear-gradient(top, #5c9867, #55875e);
    background-image: -ms-linear-gradient(top, #5c9867, #55875e);
    background-image: -o-linear-gradient(top, #5c9867, #55875e);
    background-image: linear-gradient(to bottom, #518c5c, #4e8057);
    text-decoration: none;
}

.login-page-btn:focus {
    outline: none;
}

.login-page-btn:active {
    background: #366c3f;
    background-image: -webkit-linear-gradient(top, #366c3f, #37613e);
    background-image: -moz-linear-gradient(top, #366c3f, #37613e);
    background-image: -ms-linear-gradient(top, #366c3f, #37613e);
    background-image: -o-linear-gradient(top, #366c3f, #37613e);
    background-image: linear-gradient(to bottom, #366c3f, #37613e);
    text-decoration: none;
}

.login-page-need-account-text
{
    font-size: 14px;
}

.login-page-alert {
    color: #a94442;
    background-color: #f2dede;
    direction: rtl;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}


.top-bar-container
{
    align-self: center;
    -webkit-align-self: center;
    height: 44px;
    width: 100%;
}

.top-bar-logo-container
{
    width: 250px;
    height: 70px;
    background-color: #25292a;
    border-bottom: 1px solid #35393a;
}

.top-bar-logo
{
    margin: 13px 5px 13px 110px;
    min-height:44px;
    min-width: 125px;
}

.user-box
{
    width: 300px;
    margin-right: 20px;
}

.user-avatar {
    max-width: 44px;
    max-height: 44px;
    min-width: 44px;
    min-height: 44px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 10px;
}

.user-box-info
{
    width: 350px;
}

.user-box-name
{
    margin-top: 2px;
    height: 22px;
    color: #505050;
    font-size: 14px;
    font-weight: bold;
}

.user-box-info > p
{
    margin: 0;
}
.user-box-info > p > a
{
    text-align: right;
    direction: rtl;
    color: #2f5a78;
    width: 100px;
    height: 22px;
    background-color: transparent;
    font-size: 13px;
    padding-right: 2px;
    outline: 0;
    border: none;
    text-decoration: none;
    margin: 0;
}

.user-box-logout-button
{
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 14px;
    color: #4286b4;
}
.user-box-logout-button:hover
{
    outline:none;
    color: #3065b4;
}
.user-box-logout-button:active
{
    outline:none;
    color: #1a3878;
}

.user-box-logout-button:focus
{
    outline:none;
}


.dashboard-page
{
    min-width: 1500px;
    /*max-width: 1500px;*/
    position: absolute;
    top: 100px;
    right: 280px;
    left: 30px;
    bottom: 30px;
}

.dashboard-date-box
{
    width: 150px;
    maheight: 30px;
    /*background-color: white;*/
    margin-bottom: 20px;
}

/*.dashboard-page-section*/
/*{*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/

.commissions-page
{
    min-width: 1500px;
    /*max-width: 1500px;*/
    position: absolute;
    top: 100px;
    right: 280px;
    left: 30px;
    bottom: 30px;
    height: calc(100% - 130px);
    max-height: calc(100% - 130px);
    /*background-color: green;*/
}

.commissions-page-file-bin
{
    width: 100%;
    height: 150px;
    background-color: white;
    padding-top: 20px;
}


.commissions-page-file-bin-drag-area
{
    width: calc(100% - 40px);
    height: 70px;
    border: 3px dashed grey;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    /*color: #505050;*/
    /*padding-top: 18px;*/
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    line-height: 65px;
}

.commissions-page-file-bin-drag-area:hover
{
    background-color: rgba(66, 134, 180, 0.15);
    color: #4286b4;
    border: 3px dashed #4286b4;

}

.commissions-page-file-bin-drag-area:active
{
    background-color: rgba(66, 134, 180, 0.15);
    color: #4286b4;
    border: 3px dashed #4286b4;
}

.commissions-page-file-bin-drag-area
{
    background-color: rgba(66, 134, 180, 0.15);
    color: #4286b4;
    border: 3px dashed #4286b4;
}


.commissions-page-file-bin-settings
{
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.commissions-page-file-bin-settings-text
{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #7b7b7b;
    font-weight: bold;
}

.commissions-page-file-bin-settings-date
{
    margin-top: 5px;
    height: 36px;
    width: 180px;
    padding-right: 15px;
    padding-top: 8px;
    background-color: white;
    font-size: 14px;
    /*color: #7b7b7b;*/
    box-shadow: 0px 1px 2px #a5a5a5;
    -webkit-box-shadow: 0px 1px 2px #a5a5a5;
    -moz-box-shadow: 0px 1px 2px #a5a5a5;

}

.commissions-page-file-bin-settings-edit-files-container
{
    direction: ltr;
    height: 100%;
    /*background-color: red;*/
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;}

.commissions-page-file-bin-settings-edit-files
{
    width: 200px;
    height: 40px;

}

.commissions-page-table
{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: calc(100% - 180px);
    max-height: calc(100% - 180px);
}

.agents-page
{
    min-width: 1500px;
    position: absolute;
    top: 100px;
    right: 280px;
    left: 30px;
    bottom: 30px;
    height: calc(100% - 130px);
    max-height: calc(100% - 130px);
}


.dashboard-buttons-horizontal-spacer
{
    width: 10px;
    height: 100%;
}

.dashboard-horizontal-spacer
{
    width: 20px;
    height: 370px;
}

.dashboard-vertical-spacer
{
    height: 20px;
    width: 100%;
}

.dashboard-stats-container
{
    width: calc(50% - 10px);
    height: 370px;
}

.dashboard-stats-container-top
{
    width: 100%;
    height: 175px;
    /*background-color: white;*/
}

.dashboard-commission-change-chart
{
    /*width: 100%;*/
    height: 450px;
    background-color: white;
    padding-top: 20px;
}

.dashboard-commission-change-chart-box
{
    height: 390px;
    padding: 20px 50px;
}

.dashboard-rank-table
{
    width: calc(50% - 10px);
    height: 370px;
    background-color: white;
    padding: 20px;
}



.dashboard-month-total-agents
{
    min-width: 350px;
    width: calc(50% - 10px);
    height: 175px;
    background-color: white;
    padding-top:20px ;
}

.dashboard-total-investments
{
    min-width: 700px;
    width: 100%;
    height: 175px;
    background-color: white;
    padding-top:20px ;
}

.dashboard-month-total-commissions
{
    min-width: 350px;
    width: calc(50% - 10px);
    height: 175px;
    background-color: white;
    padding-top:20px ;
}

.dashboard-box-title
{
    text-align: center;
    color: #777777;
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    /*margin-top: 20px;*/
}

.dashboard-box-value
{
    direction: ltr;
    text-align: center;
    /*color: #4286b4;*/
    width: 100%;
    height: 45px;
    background-color: transparent;
    font-size: 40px;
    /*font-weight: bold;*/
}

.dashboard-box-change
{
    direction: ltr;
    text-align: center;
    /*color: #3d8e4c;*/
    width: 100%;
    height: 30px;
    background-color: transparent;
    font-size: 20px;
    margin-top: 24px;
}


/**** table ******/

.table
{
    width: 100%;
    height: 100%;
    /*border: 1px solid #d3d3d3;*/
}

.table-data-container
{
    direction: ltr;
    overflow-y: scroll;
    height: calc(100% - 50px); /* minus header height*/
}

.table-data
{
    direction: rtl;
    height: calc(100% - 50px);  /* minus header height*/
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(179, 179, 179, 0.8);
}

.table-header
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 50px;
    flex-flow: row nowrap;
    padding-top: 10px;
    padding-right: 10px;

    box-shadow: 0px 2px 8px #acacac;
    -webkit-box-shadow: 0px 2px 8px #acacac;
    -moz-box-shadow: 0px 2px 8px #acacac;
    background-color: #4286b4;

}

.table-column
{
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.table-cell
{
    direction: ltr;
    min-height: 33px;
    max-height: 33px;
}

.table-cell-text-color
{
    color: #5b5b5b;
}

.table-cell-read-only
{
    font-size: 14px;
    /*background-color: #efefef;*/
    text-align: center;
    /*height: 33px;*/
}

.table-row
{
    height: 45px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 12px;
}

.col-33-33 { width: 33.3333333333% }


/*****************/

.edit-files-page
{
    min-width: 1500px;
    position: absolute;
    top: 100px;
    right: 280px;
    left: 30px;
    bottom: 30px;
    height: calc(100% - 130px);
    max-height: calc(100% - 130px);
}

.edit-files-table
{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: calc(100% - 180px);
    max-height: calc(100% - 180px);
}