html
{
    direction: rtl;
}

body
{
    background-color: #e6e6e6;
    margin: 0;
    width: 100%;

}

* {
    font-family: "Tahoma", Helvetica, Arial, Helvetica Neue , sans-serif; !important;
}

.hcontainer-no-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}


.right-align
{
    direction: rtl;
}

.left-align
{
    direction: ltr;
}

.shadow
{
    box-shadow: 0px 1px 10px #bababa;
    -webkit-box-shadow: 0px 1px 10px #bababa;
    -moz-box-shadow: 0px 1px 10px #bababa;
}

.shadow-up
{
    box-shadow: 0px -1px 2px #dcdcdc;
    -webkit-box-shadow: 0px -1px 2px #dcdcdc;
    -moz-box-shadow: 0px -1px 2px #dcdcdc;
}

.fixed
{
    position: fixed;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.vertical-line-sep {
    border-left: thin solid #cacaca;
    margin-left: 20px;
    margin-right: 20px;
}
.vertical-line-sep-no-margin {
    border-left: thin solid #cacaca;
}

.horizental-line-sep {
    border-bottom: thin solid #cecece;
}


/*
* top-bar
*/

.top-bar
{
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: white;

    /*This makes div occupy full width*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.btn {
    background: #4f875a;
    background-image: -webkit-linear-gradient(top, #4f875a, #44754d);
    background-image: -moz-linear-gradient(top, #4f875a, #44754d);
    background-image: -ms-linear-gradient(top, #4f875a, #44754d);
    background-image: -o-linear-gradient(top, #4f875a, #44754d);
    background-image: linear-gradient(to bottom, #4f875a, #44754d);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    height: 35px;
    font-size: 13px;
    margin-top: 5px;
    padding: 0px 15px;
    border: solid #030303 0px;
    text-decoration: none;
}

.btn:hover {
    background: #4f875a;
    background-image: -webkit-linear-gradient(top, #4f875a, #37613e);
    background-image: -moz-linear-gradient(top, #4f875a, #37613e);
    background-image: -ms-linear-gradient(top, #4f875a, #37613e);
    background-image: -o-linear-gradient(top, #4f875a, #37613e);
    background-image: linear-gradient(to bottom, #4f875a, #37613e);
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

.btn:active {
    background: #366c3f;
    background-image: -webkit-linear-gradient(top, #366c3f, #37613e);
    background-image: -moz-linear-gradient(top, #366c3f, #37613e);
    background-image: -ms-linear-gradient(top, #366c3f, #37613e);
    background-image: -o-linear-gradient(top, #366c3f, #37613e);
    background-image: linear-gradient(to bottom, #366c3f, #37613e);
    text-decoration: none;
}

.top-bar-container
{
    align-self: center;
    -webkit-align-self: center;
    height: 44px;
    width: 100%;
}

.top-bar-logo
{
    margin-left:20px;
    margin-right:10px;
    min-height:44px;
    min-width: 125px;
}

.user-box
{
    width: 300px;
    margin-right: 5px;
}

.user-avatar {
    max-width: 44px;
    max-height: 44px;
    min-width: 44px;
    min-height: 44px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 10px;
}

.user-box-info
{
    width: 350px;
}

.user-box-name
{
    margin-top: 2px;
    height: 22px;
    color: #505050;
    font-size: 14px;
    font-weight: bold;
}

.user-box-info > p
{
    margin: 0;
}
.user-box-info > p > a
{
    text-align: right;
    direction: rtl;
    color: #2f5a78;
    width: 100px;
    height: 22px;
    background-color: transparent;
    font-size: 13px;
    padding-right: 2px;
    outline: 0;
    border: none;
    text-decoration: none;
    margin: 0;
}




